
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   
   
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	
</head>

<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				
			</div>
			<div class="card-body">
				<form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope"></i></span>
						</div>
						   <input 
							formControlName="email"
							id="email" 
							type="text" 
							[(ngModel)]="log.email"
							placeholder="Email"
							class="form-control">
		  
							<div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
							<div *ngIf="f.email.errors?.required">Email is required.</div>
							</div>
							
					    </div>


					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						    <input 
							formControlName="password"
							id="password" 
							type="password"
							placeholder="Password"
							[(ngModel)]="log.password" 
							class="form-control">

							<div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
								<div *ngIf="f.password.errors?.required">Password is required.</div>
							</div>
					</div>



					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-user"></i></span>
						</div>
						    <input 
							formControlName="role"
							id="role" 
							type="text"
							placeholder="Role"
							[(ngModel)]="log.role" 
							list="FavouriteColor"
							class="form-control">
					
							<datalist id="FavouriteColor">
								<option value="Admin">
								<option value="Employer">
								<option value="Jobseeker">

							</datalist>
					</div>



					<div class="submit">
						<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Login</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
</body>
</html>
